.add_item_button{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

td.show {
    background: red;
    text-align: center;
}
td.show a {
    color: white;
    border: none;
    background: transparent;
    outline: none;
}

.pagination {
    justify-content: center;
    margin: 20px 0;
}

h3 {
    padding: 20px;

}
.zarovnanie {
    text-align: center;
}

.nieco{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.nazovKategorie {
    text-align: center;
    padding: 20px;
}

.products {
    position: relative;
    width: 100%;
    min-height: 84.2vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categories {
    width: 20%;
    background: #efefef;
    text-align: center;
    padding: 20px 0;
}
.categories-flex {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
.categories-flex li {
    width: 100%;
}
.categories-flex a {
    color: #2c4db1;
}

.container-products {
    width: 85%;
}
.category-products {
    width: 95%;
    margin: auto;
}

.product-card {
    width: 30%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
}

.product-image img {
    width: 100%;
    max-width: 200px;
}
#mobile {
    display: none;
}
@media screen and (max-width: 765px) {
    .categories {
        width: 30%;
    }
    .container-products {
        width: 70%;
    }
    .product-card {
        width: 40%;
    }
}
@media screen and (max-width: 576px) {
    .categories {
        position: absolute;
        height: 100%;
        width: 150px;
        left: -150px;
        transition: left 300ms;
    }
    .categories.open {
        left: 0px;
    }
    .container-products {
        width: 100%;
    }
    .product-card {
        width: 90%;
    }
    #mobile {
        display: block;
        cursor: pointer;
    }
}


.admin-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.admin-products li {
    width: 30%;
    text-align: center;
}

.admin-products img {
    width: 100%;
    height: auto;
}

.footer {
    position: relative;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3c3f41;
    color: white;
    text-align: center;
}
.footer p {
    margin: 0;
}
main {
    padding: 0px !important;
    min-height: 84.2vh;
}





* {
    box-sizing: border-box;
}

.navbar img {
    height: 75px;
}

a{
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container1 {
    display: flex;
    width: 100%;
}

aside {
    min-width: 50%;
    padding: 40px;
}

.main-image {
    width: 80%;
    margin: 0 auto;
    background-color: black;
}

.image-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.small-image {
    min-width: 20%;
    height: 150px;
    background-color: black;
}

.aside-header {
    text-transform: capitalize;
    padding-bottom: 20px;
    font-size: 24px;
}

.price {
    text-align: left;
    padding: 0px 10px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.aside-text {
    text-transform: capitalize;
    padding: 10px;
    font-size: 17px;
}

.buttons {
    display: flex;
    margin-top: 25px;
}

.button {
    background: white;
    padding: 10px 25px;
    margin: 10px 10px 10px 0px;
    border: 1px solid grey;
}

.submit-button {
    padding: 10px 25px;
    margin: 10px 0px 10px 10px;
    color: white;
    border-radius: 5px;
    border: 0px;
    background-color: #D7AB59;
}

.button-container {
    display: flex;
}

.left-buttons {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

@media screen and (max-width: 900px) {
    .container1 {
        display: block;
    }
    aside {
        width: 100%;
        margin-bottom: 40px;
    }
}





.admin-products-table {
    width: 90%;
    margin: auto;
}
.admin-products-table th, .admin-products-table td {
    border: 1px solid black;
}
.admin-products-table th {
    background: #D7AB59;
    color: white;
    text-align: center;
}
td.update {
    color: #fff;
    background-color: #6c757d;
    border-color: black;
    text-align: center;
}
td.update a {
    color: white;
    text-decoration: none;
}
td.delete {
    background: rgb(216, 58, 58);
    text-align: center;
}
td.restore {
    background: seagreen;
    text-align: center;
}
td.delete button, td.restore button {
    color: white;
    border: none;
    background: transparent;
    outline: none;
}
.updateCartTd  {
    display: flex;
    align-content: center;
    justify-content: center;
}
.updateCartTd p {
    margin: 0;
}
.updateCartTd .add-button, .updateCartTd .remove-button {
    width: 25px;
    height: 25px;
    font-size: 0.7em;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
}
.updateCartTd .add-button {
    background: green;
}
.updateCartTd .remove-button {
    background: red;
}

.form-admin {
    width: 60%;
    padding: 40px 20px;
    border: 2px solid #D7AB59;
    margin: 25px auto 0 auto;
}
.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input label, .input input {
    width: 100%
}
.input label {
    font-weight: bold;
    color: #24324f;
    font-size: 1.3em;
}
.edit-img {
    max-width: 200px;
    height: auto;
}

.order, .order_fullfilled{
    width: 50%;
    margin: 25px auto;
    padding: 20px;
    border: 2px solid #24324f;
    background: white;
}

.order_fullfilled {  
    border: 5px solid #17a129;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.right .btn{
    background: green;
}


